---
- name: Reset UFW before
  ufw:
    state: reset
    policy: allow

- name: Enable UFW and and configure 'allow' as default
  ufw:
    state: enabled
    policy: allow

- name: Set UFW logging
  ufw:
    logging: 'on'
    
- name: Allow SSH
  ufw:
    rule: limit
    port: ssh
    proto: tcp

- name: Add inter hosts firewall rules
  ufw:
    rule: allow
    port: "{{ item[1][port] }}"
    proto: "{{ item[1][proto] }}"
    src: "{{ hostvars[item[0]]['ansible_eth0']['ipv4']['address'] }}"
  with_nested:
    - "{{ groups['all'] }}"
    - "{{ firewall_ports_inter_hosts }}"

- name: Reject all
  ufw:
    rule: reject
    log: yes